<a href="https://colab.research.google.com/github/magmatic654/Alura-Store_Latam/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

# Unir las tiendas en un solo DataFrame

In [6]:
tienda['Tienda'] = 'Tienda 1'
tienda2['Tienda'] = 'Tienda 2'
tienda3['Tienda'] = 'Tienda 3'
tienda4['Tienda'] = 'Tienda 4'

df_tiendas = pd.concat([tienda, tienda2, tienda3, tienda4])
df_tiendas.sample(5)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon,Tienda
2212,Bloques de construcción,Juguetes,43400.0,0.0,23/12/2020,Rafael Acosta,Cali,5,Tarjeta de crédito,3,3.43722,-76.52250,Tienda 1
346,Auriculares,Electrónicos,102100.0,3600.0,14/03/2022,Lucas Olivera,Bogotá,1,Nequi,1,4.60971,-74.08175,Tienda 1
2246,Lavadora de ropa,Electrodomésticos,1305700.0,69700.0,29/07/2021,Izabela de León,Pereira,1,Tarjeta de crédito,5,4.81333,-75.69611,Tienda 2
806,Secadora de ropa,Electrodomésticos,846000.0,49800.0,03/07/2022,Camila Rivera,Cartagena,5,Tarjeta de crédito,3,10.39972,-75.51444,Tienda 1
894,Bloques de construcción,Juguetes,41900.0,0.0,30/01/2021,Ángel Rodriguez,Bogotá,5,Tarjeta de crédito,1,4.60971,-74.08175,Tienda 4

#1. Análisis de facturación

## Calcular los ingresos de cada tienda

In [26]:
ingresos_por_tienda = df_tiendas.groupby('Tienda')['Precio'].sum().rename('Ingresos')
ingresos_por_tienda

Tienda
Tienda 1    1.150880e+09
Tienda 2    1.116344e+09
Tienda 3    1.098020e+09
Tienda 4    1.038376e+09
Name: Ingresos, dtype: float64

## Determinar la tienda con menores ingresos

In [31]:
tienda_menor_ingreso = ingresos_por_tienda.idxmin()
menor_ingreso = ingresos_por_tienda.min()
print(tienda_menor_ingreso, 'con', menor_ingreso)

Tienda 4 con 1038375700.0

### Insertar grafico

Titulo: La tienda [Tienda menos ingresos] genera menos dinero

Podemos ver que la tienda con menores ingresos totales es la Tienda 4

# 2. Ventas por categoría

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda